<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>backbone-survey/contrib/backbone-survey-card</title>
<script type="text/javascript" src="../../../lib/json2/json2.js"></script>
<script type="text/javascript" src="../../../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../../../lib/backbone/backbone-min.js"></script>
<script type="text/javascript" src="../../../assets/js/backbone-survey.js"></script>
<script type="text/javascript" src="../js/backbone-survey-card.js"></script>
<script type="text/javascript">
(function($) {
  $(function() {
    var survey = new BackboneSurvey.Survey({
      survey: {
        title: "CardAnswerView Example"
      , page: 0
      }
    , sections: [
       {
          id: "q1"
        , page: 1
        , type: BackboneSurvey.QuestionType.RADIO
        , view: "TextCardAnswerView"
        , contents: {
            question: "<strong>Q1.</strong> Please select your favorite food."
          }
        , options: [
            { value: "1", label: "Beef" }
          , { value: "2", label: "Pork" }
          , { value: "3", label: "Chiken" }
          , { value: "0", label: "Other", sub: { note: "Q1. Other:", placeholder: "Q1. Other" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "Please select at least one." })
          ]
        }
      , {
          id: "q2"
        , page: 2
        , type: BackboneSurvey.QuestionType.RADIO
        , view: "CardAnswerView"
        , contents: {
            question: "<strong>Q2.</strong> Please select your favorite color."
          }
        , options: [
            { value: "red", label: '<img src="images/red.gif">' }
          , { value: "green", label: '<img src="images/green.gif">' }
          , { value: "blue", label: '<img src="images/blue.gif">' }
          , { value: "yellow", label: '<img src="images/yellow.gif">' }
          , { value: "cyan", label: '<img src="images/cyan.gif">' }
          , { value: "magenta", label: '<img src="images/magenta.gif">' }
          , { value: "0", label: "Other", sub: { note: "Q2. Other:", placeholder: "Q2. Other" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "Please select at least one." })
          ]
        }
      , {
          id: "q3"
        , page: 3
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "TextCardAnswerView"
        , contents: {
            question: "<strong>Q3.</strong> The example for one or more questions in a page."
          }
        , options: [
            { value: "1", label: "iOS (iPhone/iPad/iPod)" }
          , { value: "2", label: "Andriod" }
          , { value: "3", label: "Windows", sub: { note: "Q3. Windows:", placeholder: "Q3. Windows" } }
          , { value: "0", label: "Other", sub: { note: "Q3. Other:", placeholder: "Q3. Other" } }
          ]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "Q3. Please select at least one." })
          ]
        }
      , {
          id: "q4"
        , page: 3
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "CardAnswerView"
        , contents: {
            question: "<strong>Q4.</strong> The page should lock any other operations while opening the text input."
          }
        , options: [
            { value: "1", label: '<img src="images/red.gif">' }
          , { value: "2", label: '<img src="images/green.gif">' }
          , { value: "3", label: '<img src="images/blue.gif">' }
          , { value: "0", label: "Other", sub: { note: "Q4. Other:", placeholder: "Q4. Other" } }
          ]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "Q4. Please select at least one." })
          ]
        }
      , {
          id: "q5"
        , page: 4
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "CustomTextCardAnswerView"
        , contents: {
            question: "<strong>Q5.</strong> CustomTextCardAnswerView with CustumTextDialogView"
          }
        , options: [
            { value: "1", label: "Card 1" }
          , { value: "2", label: "Card 2" }
          , { value: "3", label: "Card 3" }
          , { value: "0", label: "Other", sub: { note: "Q5. Other:", placeholder: "Q5. Other" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "Q5. Please select at least one." })
          ]
        }
      , {
          id: "q6"
        , page: 4
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "CustomImageCardAnswerView"
        , contents: {
            question: "<strong>Q5.</strong> CustomImageCardAnswerView with CustumTextDialogView"
          }
        , options: [
            { value: "1", label: '<img src="images/red.gif">' }
          , { value: "2", label: '<img src="images/green.gif">' }
          , { value: "3", label: '<img src="images/blue.gif">' }
          , { value: "0", label: "Other", sub: { note: "Q6. Other:", placeholder: "Q6. Other" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "Q6. Please select at least one." })
          ]
        }
      ]
    }, { parse: true });

    BackboneSurvey.CustomTextCardAnswerView = BackboneSurvey.TextCardAnswerView.extend({
      $dialog: '#survey-dialog' // jQuery selector for the dialog elements
    , dialogName: "CustomTextDialogView" // The name of DialogView
    });
    BackboneSurvey.CustomImageCardAnswerView = BackboneSurvey.CardAnswerView.extend({
      $dialog: '#survey-dialog'
    , dialogName: "CustomTextDialogView"
    });
    // See BackboneSurvey.TextDialogView for more details.
    BackboneSurvey.CustomTextDialogView = BackboneSurvey.TextDialogView.extend({
      templateName: "CustomTextDialogView"
    });
    // See BackboneSurvey.Templates.TextDialogView for more details.
    BackboneSurvey.Templates.CustomTextDialogView =
      '<div style="position: fixed; top: 0; left: 0; right: 0: bottom: 0; width: 100%; height: 100%;' +
        ' background: #000; opacity: 0.8;"></div>' +
      '<div class="<%- elPrefix %>dialog-container" style="position: absolute; top: 0; left: 0;">' +
        '<div class="<%- elPrefix %>dialog-inner" style="background: #eee; padding: 20px">' +
          '<p>CustomTextDialogView!</p>' +
          '<div><span class="<%- elPrefix %>dialog-note"><%- note %></span></div>' +
          '<input class="<%- elPrefix %>dialog-input" type="text"' +
            ' value="<%- value %>" placeholder="<%- placeholder %>">' +
          '<button class="<%- elPrefix %>dialog-submit">OK</button>' +
          '<button class="<%- elPrefix %>dialog-cancel">Cancel</button>' +
        '</div>' +
      '</div>';

    var view = new BackboneSurvey.SurveyView({
      model: survey
    , el: $("#survey-app")
    });

    view.on("start", function() { survey.startPage() } );
    view.on("prev", function() { survey.prevPage() } );
    view.on("next", function() { survey.nextPage() } );
    view.on("completed", function() {
      console.log(["completed", survey.answers()]);
    });

    view.on("answer", function() {
      console.log(["answer", view.isValid()]);
    });

    // Kick things off by calling SurveyView#startPage
    view.startPage();
  });
})(jQuery);
</script>
</head>
<body>
  <div id="survey-app">
    <h1 class="survey-title"></h1>
    <div id="survey-sections"></div>
    <input type="button" class="survey-next" value="Next">
    <input type="button" class="survey-prev" value="Prev">
    <p><a class="survey-start" href="javascript:void(0);">Retry</a></p>
  </div>
  <div id="survey-dialog"></div>
</body>
</html>
