<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>backbone-survey/examples/card</title>
<script type="text/javascript" src="../lib/json2/json2.js"></script>
<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../lib/backbone/backbone-min.js"></script>
<script type="text/javascript" src="../assets/js/backbone-survey.js"></script>
<script type="text/javascript">
(function($) {
  $(function() {
    var survey = new BackboneSurvey.Survey({
      survey: {
        title: "カード回答サンプル"
      , page: 0
      }
    , sections: [
       {
          id: "q1"
        , page: 1
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "TextCardAnswerView"
        , contents: {
            question: "<strong>Q1.</strong> テキストカード設問です"
          }
        , options: [
            { value: "1", label: "カード1" }
          , { value: "2", label: "カード2" }
          , { value: "3", label: "カード3" }
          , { value: "4", label: "カード4" }
          , { value: "5", label: "カード5" }
          , { value: "0", label: "その他", sub: {} }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "選択してください" })
          ]
        }
      , {
          id: "q2"
        , page: 2
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "ImageCardAnswerView"
        , contents: {
            question: "<strong>Q2.</strong> 画像カード設問です"
          }
        , options: [
            { value: "1", label: '<img src="images/red.gif">' }
          , { value: "2", label: '<img src="images/green.gif">' }
          , { value: "3", label: '<img src="images/blue.gif">' }
          , { value: "4", label: '<img src="images/yellow.gif">' }
          , { value: "5", label: '<img src="images/cyan.gif">' }
          , { value: "6", label: '<img src="images/magenta.gif">' }
          , { value: "0", label: "その他", sub: {} }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "選択してください" })
          ]
        }
      , {
          id: "q3"
        , page: 3
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "TextCardAnswerView"
        , contents: {
            question: "<strong>Q3.</strong> テキストカード設問です"
          }
        , options: [
            { value: "1", label: "カード1" }
          , { value: "2", label: "カード2" }
          , { value: "3", label: "カード3" }
          , { value: "0", label: "その他", sub: { placeholder: "Q3. その他" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "選択してください" })
          ]
        }
      , {
          id: "q4"
        , page: 3
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "ImageCardAnswerView"
        , contents: {
            question: "<strong>Q4.</strong> 画像カード設問です"
          }
        , options: [
            { value: "1", label: '<img src="images/red.gif">' }
          , { value: "2", label: '<img src="images/green.gif">' }
          , { value: "3", label: '<img src="images/blue.gif">' }
          , { value: "0", label: "その他", sub: { placeholder: "Q4. その他" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "選択してください" })
          ]
        }
      , {
          id: "q5"
        , page: 4
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "CustomTextCardAnswerView"
        , contents: {
            question: "<strong>Q5.</strong> テキストカード設問 + 独自ダイアログです"
          }
        , options: [
            { value: "1", label: "カード1" }
          , { value: "2", label: "カード2" }
          , { value: "3", label: "カード3" }
          , { value: "0", label: "その他", sub: { placeholder: "Q5. その他" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "選択してください" })
          ]
        }
      , {
          id: "q6"
        , page: 4
        , type: BackboneSurvey.QuestionType.CHECKBOX
        , view: "CustomImageCardAnswerView"
        , contents: {
            question: "<strong>Q4.</strong> 画像カード設問 + 独自ダイアログです"
          }
        , options: [
            { value: "1", label: '<img src="images/red.gif">' }
          , { value: "2", label: '<img src="images/green.gif">' }
          , { value: "3", label: '<img src="images/blue.gif">' }
          , { value: "0", label: "その他", sub: { placeholder: "Q6. その他" } }
          ]
        , singleOptions: ["0"]
        , rules: [
            new BackboneSurvey.RequiredValidator({ message: "選択してください" })
          ]
        }
      ]
    }, { parse: true });

    // 独自テキストカードUI
    BackboneSurvey.CustomTextCardAnswerView = BackboneSurvey.TextCardAnswerView.extend({
      $dialog: '#survey-dialog' // ダイアログ描画先 jQuery セレクタ
    , dialogName: "CustomTextDialogView" // 独自ダイアログ ビュー名
    });
    // 独自画像カードUI
    BackboneSurvey.CustomImageCardAnswerView = BackboneSurvey.ImageCardAnswerView.extend({
      $dialog: '#survey-dialog'
    , dialogName: "CustomTextDialogView"
    });
    // 独自ダイアログ
    BackboneSurvey.CustomTextDialogView = BackboneSurvey.TextDialogView.extend({
      templateName: "CustomTextDialogView"
    });
    BackboneSurvey.Templates.CustomTextDialogView =
      '<div style="position: fixed; top: 0; left: 0; right: 0: bottom: 0; width: 100%; height: 100%;' +
        ' background: #000; opacity: 0.8;"></div>' +
      '<div class="<%- elPrefix %>dialog-container" style="position: absolute; top: 0; left: 0;">' +
        '<div class="<%- elPrefix %>dialog-inner" style="background: #eee; padding: 20px">' +
          '<p>CustomTextDialogView!</p>' +
          '<input class="<%- elPrefix %>dialog-input" type="text"' +
            ' value="<%- value %>" placeholder="<%- placeholder %>">' +
          '<button class="<%- elPrefix %>dialog-submit">OK</button>' +
          '<button class="<%- elPrefix %>dialog-cancel">Cancel</button>' +
        '</div>' +
      '</div>';

    var view = new BackboneSurvey.SurveyView({
      model: survey
    , el: $("#survey-app")
    });

    view.on("start", function() { survey.startPage() } );
    view.on("prev", function() { survey.prevPage() } );
    view.on("next", function() { survey.nextPage() } );
    view.on("completed", function() {
      console.log(["completed", survey.answers()]);
    });

    view.on("answer", function() {
      console.log(["answer", view.isValid()]);
    });

    view.startPage();
  });
})(jQuery);
</script>
</head>
<body>
  <div id="survey-app">
    <h1 class="survey-title"></h1>
    <div id="survey-sections"></div>
    <input type="button" class="survey-next" value="Next">
    <input type="button" class="survey-prev" value="Prev">
    <p><a class="survey-start" href="javascript:void(0);">はじめからやり直す</a></p>
  </div>
  <div id="survey-dialog"></div>
</body>
</html>
